@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500&display=swap');
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #e3e3e3;
}

.headers {
    position: 'fixed' !important;
    z-index: 1;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
    padding-top: 5px;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    font-family: Kanit;
    color: #fff;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}